<ion-view view-title="Simply Scheduling" hide-nav-bar="false">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons></ion-nav-buttons> 
    <ion-content scroll="false">
        <div class="row" style="width: 70%; margin-left: auto; margin-right: auto;">
            <button class="col button button-full button-small button-light" ng-class="whichOption == '0' ? '' : 'button-outline'" ng-click="setView('0')">Login</button>
            <button class="col button button-full button-small button-light" ng-class="whichOption == '1' ? '' : 'button-outline'" ng-click="setView('1')">Home</button>
            <button class="col button button-full button-small button-light" ng-class="whichOption == '2' ? '' : 'button-outline'" ng-click="setView('2')">Sign Up</button>
        </div>
        <ion-scroll class="card custom-background" scroll="true" direction="y" id="customBackground" ng-style="customBackground('customBackground')">
            
            <span ng-if="whichOption === '0'" ng-controller="LoginCtrl">
              <form class="padding" name="loginForm" novalidate ng-submit="doLogin(loginForm)">
                <div class="list animate-ripple">
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted}">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="loginData.email" placeholder="Email" required>
                  </label>
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted}">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="loginData.password" placeholder="Password" required>
                  </label>
                  <ion-checkbox ng-model="checkbox.rememberMe" class="no-border checkbox-dark" ng-change="clickedRememberMe()">
                    Remember Me
                  </ion-checkbox>
                  <button class="item button button-block button-calm ssf-button" type="submit" ion-track-tap="Login-tap" ion-track-data="{ mockData: 'User tapped Login'}">
                    Submit
                  </button>
                  <button class="item button button-block button-calm ssf-button-inverted" type="button" ng-click="register()">
                    Register
                  </button>
                </div>
              </form>
            </span>
            
            
            
            <span ng-if="whichOption === '1'">
              <div class="card">
                <div class="item item-divider">
                  Welcome to Simply Scheduling!
                </div>
                <div class="item item-text-wrap">
                  <ul>
                    <li>
                      - This app is designed for either seasonal or small companies.
                    </li>
                    <li>
                      - It helps keep track of any changes made to the published schedules so that you, as an employer, can see who changed the schedule and when. 
                    </li>
                    <li>
                      - When a user views a schedule they are a part of, it tells them where and when they are working.
                    </li>
                    <li>
                      - It also makes a note so that a manager or employer can see if and when a user saw their assigned schedule.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="padding">
                <button class="button button-block button-calm" ng-click="viewExamples()">
                  View Examples
                </button>
              </div>
            </span>
            
            
            
            <span ng-if="whichOption === '2'" ng-controller="RegisterCtrl">
              <form name="registerForm" class="padding" ng-submit="submitRegisterForm(registerForm)" novalidate>
                <div class="list">
                  
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.firstName.$invalid && registerForm.$submitted}">
                    <span class="input-label">First Name</span>
                    <input type="text" name="firstName" ng-model="registerData.firstName" placeholder="First Name" required>
                  </label>
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.lastName.$invalid && registerForm.$submitted}">
                    <span class="input-label">Last Name</span>
                    <input type="text" name="lastName" ng-model="registerData.lastName" placeholder="Last Name" required>
                  </label>
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.cellphone.$invalid && registerForm.$submitted}">
                    <span class="input-label">Cell Phone</span>
                    <input phone-input type="text" name="cellphone" ng-model="registerData.cellphone" placeholder="Cell Phone">
                  </label>
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.email.$invalid && registerForm.$submitted}">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="registerData.email" placeholder="Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
                  </label>
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.password.$invalid && registerForm.$submitted}">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="registerData.password" placeholder="Password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                  </label>
                  <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : registerData.rePassword.$invalid && registerForm.$submitted}">
                    <span class="input-label">Repeat Password</span>
                    <input type="password" name="rePassword" ng-model="repeatPassword.password" placeholder="Repeat Password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                  </label>
                  
                  <ion-checkbox name="eula" ng-model="registerData.hasAcceptedEULA" class="checkbox-dark" ng-class="{ 'has-errors' : !registerForm.eula.$modelValue && registerForm.$submitted}" required>
                    End User License Agreement
                  </ion-checkbox>
                  <ion-checkbox ng-model="checkbox.rememberMe" class="no-border checkbox-dark" ng-change="clickedRememberMe()">
                    Remember Me
                  </ion-checkbox>
                </div>
                <div class="list animate-ripple">
                  <button class="item button button-block button-calm ssf-button-inverted" type="button" style="margin:0" ng-click="navEula()">
                    EULA
                  </button>
                  <button class="item button button-block button-calm ssf-button" type="submit" ion-track-tap="Register-tap" ion-track-data="{ mockData: 'User tapped Register'}">
                    Submit
                  </button>
                </div>
              </form>
            </span>
        </ion-scroll>
    </ion-content>
</ion-view>