<ion-view view-title="Seasonally Scheduling">
    Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug)
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-log-out button-clear" ng-click="logout()">
            
        </button>
    </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-icon icon button-clear ion-person" ng-click="openMember()">

      </button>
  </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="row" style="width: 67%; margin-left: auto; margin-right: auto;">
            <button class="col button button-full button-small button-light button-outline"></button>
            <button class="col button button-full button-small button-light">Select a Group</button>
            <button class="col button button-full button-small button-light button-outline"></button>
        </div>
            
            
        <ion-scroll class="card custom-background" scroll="true" direction="y" id="customBackground4" ng-style="customBackground('customBackground4')">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh('hello')">
                
            </ion-refresher>
            <ion-item ng-click="nextPage(item)" class="item" ng-repeat="item in lobbySelect.data">
                {{item.orgName}}
                <span class="item-note">{{item.status}}</span>
            </ion-item>
            <ion-item class="item" ng-click="selectOrgModal()">
                Join a Group
            </ion-item>
            <ion-item>
                
            </ion-item>
        </ion-scroll>
    </ion-content>
</ion-view>