<ion-view view-title="Home">
     <!--Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-log-out button-clear" ng-click="logout()">
            
        </button>
    </ion-nav-buttons> 
    <ion-content>
        <lobby-select></lobby-select>
        <!--<button class="item button button-block button-calm ssf-button" ui-sref="sched-list">-->
        <!--    Schedule List-->
        <!--</button>-->
        <!--<button class="item button button-block button-calm ssf-button" ui-sref="req-memship">-->
        <!--    Manage Organizations-->
        <!--</button>-->
        <!--<button class="item button button-block button-calm ssf-button" ui-sref="navigation">-->
        <!--    Debugging Navigation-->
        <!--</button>-->
    </ion-content>
</ion-view>