<ion-view view-title="Add Schedule">
    
  <ion-nav-buttons side="left">
    <button class="button button-icon icon button-clear ion-ios-home" ng-if="showHome" ng-click="goHome()">

    </button>
  </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <form name="scheduleForm">
                <div class="text-center assertive padding" ng-if="!secondWindowWidth()">
                    (rotate device to see {{firstWindowWidth() ? "end" : "start/end"}} times)
                </div>
                <label class="item item-input"><!-- ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted}"> -->
                  <input type="date" ng-model="schedule.assignedDate" required>
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Message</span>
                  <input type="string" name="note" ng-model="schedule.note" placeholder="Message to others.">
                </label>
                <div class="card" ng-repeat="section in schedule.schedule track by $index">
                        <div class="item item-divider item-icon-right">
                            <label class="item item-input">
                              <input type="text" ng-model="section[0]" placeholder="Section Name" required>
                            </label>
                            <ion-icon class="icon ion-close-round assertive" ng-click="deleteSection($index)"></ion-icon>
                        </div>
                    <div class="item row" ng-repeat="spot in section[1] track by $index" ng-click="assignPosition($event, [$parent.$index, $index])">
                        <div class="col">
                            {{spot[0]}}
                        </div>
                        <div class="col" ng-if="firstWindowWidth()">
                            {{spot[1] | date: "h:mm a"}}<span ng-if="secondWindowWidth()"> - {{spot[2] | date: "h:mm a"}}</span>
                        </div>
                        <div class="col">
                            {{users[spot[3]].firstName}}
                            {{fourthWindowWidth() || (users[spot[3]].firstName.length + users[spot[3]].lastName.length <= 12) && users[spot[3]].status !== 'suspended' && users[spot[3]].nickName && thirdWindowWidth() ? users[spot[3]].lastName : users[spot[3]].lastName.slice(0, 1) + "."}}
                            <span ng-if="users[spot[3]].nickName && users[spot[3]].status !== 'suspended'"> 
                                ({{users[spot[3]].nickName}})
                            </span>
                            &nbsp&nbsp&nbsp<icon ng-if="spot[4] && canEdit" class="ion-eye icon icon-small"></icon>
                        </div>
                    </div>
                    <div class="item" ng-click="addSpot($event, [$index])">
                        <strong>Add a Position</strong>
                    </div>
                </div>
                <div class="card">
                    <div class="item" ng-click="addSection()">
                        <strong>Add a Section</strong>
                    </div>
                </div>
                <div class="padding">
                    <button class="button button-block button-calm" type="button" ng-click="submitType(scheduleForm, 'saved')">
                        Save
                    </button>
                    <button class="button button-block button-calm" type="button" ng-click="submitType(scheduleForm, 'published')">
                        Publish
                    </button>
                    <button class="button button-block button-assertive" type="button" ng-click="submitType(scheduleForm, 'deleted')">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>