<ion-view view-title="Schedule">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <!--<ion-nav-buttons></ion-nav-buttons>-->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-edit button-clear" ng-click="edit()" ng-if="canEdit">
            
        </button>
    </ion-nav-buttons> 
    <ion-content>
        <div class="padding text-center subheader">
            {{schedule.assignedDate | date: 'EEEE, MMMM d, y'}}
        </div>
        <div class="text-center assertive padding" ng-if="!secondWindowWidth()">
            (rotate device to see {{firstWindowWidth() ? "end" : "start/end"}} times)
        </div>
        <div class="list">
            <div class="item">
                {{schedule.note}}
            </div>
            <div class="card" ng-repeat="section in schedule.schedule track by $index">
                <div class="item item-divider">
                    {{section[0]}}
                </div>
                <div class="item row" ng-repeat="spot in section[1] track by $index">
                    <div class="col">
                        {{spot[0]}}
                    </div>
                    <div class="col" ng-if="firstWindowWidth()">
                        {{spot[1] | date: "h:mm a"}}<span ng-if="secondWindowWidth()"> - {{spot[2] | date: "h:mm a"}}</span>
                    </div>
                    <div class="col">
                        {{who(spot[3]).firstName}}
                        <span ng-if="!who(spot[3]).nickName"> 
                            {{who(spot[3]).lastName}}
                        </span> 
                        <span ng-if="who(spot[3]).nickName"> 
                            {{who(spot[3]).lastName.slice(0, 1) + "."}}
                        </span> 
                        <span ng-if="who(spot[3]).nickName"> 
                            ({{who(spot[3]).nickName}})
                        </span>
                        &nbsp&nbsp&nbsp<icon ng-if="spot[4] && canEdit" class="ion-eye icon icon-small"></icon>
                    </div>
                </div>
            </div>
        </div>
        <!--<button class="item button button-block button-calm ssf-button" ui-sref="navigation">-->
        <!--    Debugging Navigation-->
        <!--</button>-->
    </ion-content>
</ion-view>