<ion-modal-view scroll="false" ng-style="ssfInputModal()">
  <ion-header-bar style="background-color: #39864c; border-color: #39864c; color: white;">
    <h1 class="title" style="color: white">Update Password</h1>
    <div class="button button-icon" ng-click="closeModal()"><button style="color: white" class="button-icon icon ion-close-round button-stable"></button></div>
  </ion-header-bar>
  <ion-content>
    <!--<div style="height: 15px"></div>-->
    <!--<ion-scroll class="card custom-background" scroll="true" direction="y" style="height: 10000px" ng-style="customBackground('modal')">-->
      <form name="updatePassword" ng-submit="submitPassword(updatePassword)" novalidate>
        <div class="list">
          <label class="item item-input">
          <span class="input-label">Current Password</span>
          <input name="oldPass" type="password" ng-model="updateUser.oldPassword" required>
          </label>
          <label class="item item-input">
          <span class="input-label">New Password</span>
          <input name="newPass" type="password" ng-model="updateUser.password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
          </label>
          <label class="item item-input">
          <span class="input-label">Repeat Password</span>
          <input name="rePass" type="password" ng-model="repeat.password" required>
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="item button button-block button-calm app-button">
            Apply Changes
          </button>
        </div>
      </form>
    <!--</ion-scroll>-->
  </ion-content>
</ion-modal-view>