<ion-view view-title="Scheduling App" hide-nav-bar="false">
  
  <ion-header-bar class="bar bar-subheader">
    <div class="tabs">
      <a class="tab-item" ui-sref="list">
        <p>Overall</p>
      </a>
      <a class="tab-item" ui-sref="secondlist">
        <p>Mine</p>
      </a>
    </div>
  </ion-header-bar>
  
  <ion-nav-buttons></ion-nav-buttons> 
  <ion-content scroll="false">
    <div class="padding text-center subheader">
      Login
    </div>
    <ion-scroll class="card custom-background" scroll="true" direction="y" id="customBackground3" ng-style="customBackground('customBackground3')">
      <form class="padding" name="loginForm" novalidate ng-submit="doLogin(loginForm)">
        <div class="list">
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted}">
            <span class="input-label">Email</span>
            <input type="email" name="email" ng-model="loginData.email" placeholder="Email" required>
          </label>
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted}">
            <span class="input-label">Password</span>
            <input type="password" name="password" ng-model="loginData.password" placeholder="Password" required>
          </label>
          <ion-checkbox ng-model="checkbox.rememberMe" class="no-border checkbox-dark" ng-change="clickedRememberMe()">
            Remember Me
          </ion-checkbox>
          <button class="item button button-block button-calm ssf-button" type="submit" ion-track-tap="Login-tap" ion-track-data="{ mockData: 'User tapped Login'}">
            Submit
          </button>
          <button class="item button button-block button-calm ssf-button-inverted" type="button" ng-click="register()">
            Register
          </button>
        </div>
      </form>
    </ion-scroll>
  </ion-content>
</ion-view>
