<ion-view view-title="{{member.firstName + ' ' + member.lastName}}">
  <ion-content>
    <div class="padding text-center subheader">
      Your Profile
    </div>
    <form class="padding" name="profileForm" ng-submit="submitProfile(profileForm)">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : user.firstName.$invalid && registerForm.$submitted}">
          <span class="input-label">First Name</span>
          <input type="text" name="firstName" ng-model="user.firstName" placeholder="First Name" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : user.lastName.$invalid && registerForm.$submitted}">
          <span class="input-label">Last Name</span>
          <input type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required>
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : user.cellphone.$invalid && registerForm.$submitted}">
          <span class="input-label">Cell Phone</span>
          <input phone-input type="text" name="cellphone" ng-model="user.cellphone" placeholder="Cell Phone">
        </label>
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : user.email.$invalid && registerForm.$submitted}">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="user.email" placeholder="Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
        </label>
      <button class="button button-calm button-block" type="submit">
        Update Profile
      </button>
    </form>
  </ion-content>
</ion-view>