<ion-view view-title="{{openOrganizations.name}}">
    
    <ion-header-bar class="bar bar-subheader bar-calm" style="height: 48px;">
      <div class="tabs">
        <div style="width: 16%"></div>
        <button class="button button-clear button-full tab-item" ng-class="currentView == '0' ? 'tab-on' : 'tab-off'" ng-click="canEdit ? setView(0) : ''">
          {{canEdit ? 'Drafts' : ''}}
        </button>
        <button class="button button-clear button-full tab-item" ng-class="currentView == '1' ? 'tab-on' : 'tab-off'" ng-click="setView(1)">
          Posts
        </button>
        <button class="button button-clear button-full tab-item" ng-class="currentView == '2' ? 'tab-on' : 'tab-off'" ng-click="canEdit ? newSchedule() : ''">
          {{canEdit ? 'Create' : ''}}
        </button>
        <div style="width: 16%"></div>
      </div>
    </ion-header-bar>
    
    <ion-nav-buttons side="right">
        <button class="button button-icon icon button-clear" ng-class="canEdit ? 'ion-ios-people' : 'ion-person'" ng-click="canEdit ? openMembers() : openMember()">
            <span class="badge badge-assertive" ng-if="canEdit && badges[orgId].pendingCount > 0">{{badges[orgId].pendingCount}}</span>
        </button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh('hello')">
            
        </ion-refresher>
        <ion-list can-swipe="listCanSwipe">
            <ion-item ng-if="currentView === 1" ng-repeat="schedule in schedules | orderBy: 'assignedDate'" ng-click="gotoSched(schedule)" ng-show="schedule.state === (currentView === 1 ?  'published' : 'draft')">
                <span ng-if="!badges[orgId][schedule.id] && badges[orgId][schedule.id] !== undefined">
                    <b>{{schedule.assignedDate | date: 'EEEE, MMMM d, y'}}</b>
                </span>
                <span ng-if="badges[orgId][schedule.id] || badges[orgId][schedule.id] === undefined">
                    {{schedule.assignedDate | date: 'EEEE, MMMM d, y'}}
                </span>
                <ion-option-button class="button-assertive" ng-click="delete(schedule, $index)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button-dark ssf-button-inverted" ng-click="clone(schedule)">
                    Clone
                </ion-option-button>
            </ion-item>
            
            <ion-item ng-if="canEdit && currentView === 0" ng-repeat="schedule in schedules | orderBy: 'assignedDate'" ng-click="gotoSched(schedule)" ng-show="schedule.state !== 'published'" ng-if="canEdit">
                {{schedule.assignedDate | date: 'EEEE, MMMM d, y'}}
                <ion-option-button class="button-assertive" ng-click="delete(schedule)">
                    Delete
                </ion-option-button>
                <ion-option-button class="button button-calm" style="background-color: #39864c;" ng-click="clone(schedule)">
                    Clone
                </ion-option-button>
                <ion-option-button class="button-dark" ng-click="publish(schedule)">
                    {{schedule.state == 'published' ? 'Unpublish' : 'Publish'}}
                </ion-option-button>
            </ion-item>
            
            
            <!--<ion-item ng-if="canEdit && currentView === 0" ng-click="gotoSched(schedule)" ng-show="schedule.state !== 'published'" ng-if="canEdit">-->
                
            <!--</ion-item>-->
        </ion-list>
        <ion-item ng-click="canEdit ? newSchedule() : ''" ng-show="canEdit && !checkContents(schedules, 'state', (currentView === 1 ?  'published' : 'saved'))">
            {{currentView === 0 ? 
                'Create a Schedule' : 
                checkContents(schedules, 'state', 'saved') ? 
                    'Swipe Drafts to Publish' :
                    'Create a Schedule'}}
        </ion-item>
        <ion-item ng-show="!canEdit && !checkContents(schedules, 'state', 'published')">
            No Schedules Currently Available
        </ion-item>
    </ion-content>
</ion-view>