<ion-view view-title="Members">
  <ion-nav-buttons side="right">
      <button class="button button-icon icon button-clear ion-person" ng-click="openMember()">

      </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" style="width: 67%; margin-left: auto; margin-right: auto;">
      <button class="col button button-full button-small" ng-class="isRequests ? 'button-stable button-outline' : 'button-dark'" ng-click="toggleView('isNot')">Members</button>
      <button class="col button button-full button-small" ng-class="isRequests ? 'button-dark' : 'button-stable button-outline'"  ng-click="toggleView('is')">Requests</button>
    </div>

    <div class="card" ng-repeat="member in members | filter: filterFunc" ng-click="selectMember(member)">
      
      <span ng-if="member.status !== 'suspended'">
        <div class="item item-divider">
          {{member.firstName}} {{member.lastName}} <span ng-if="member.nickName">({{member.nickName}})</span><span class="item-note">{{member.status}}</span>
        </div>
        <div class="row" ng-if="member.nickName">
          <div class="col col-33">
            Nick Name:
          </div>
          <div class="col">
            {{member.nickName}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Cell Phone:
          </div>
          <div class="col">
            {{member.cellphone | tel}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Email:
          </div>
          <div class="col">
            {{member.email}}
          </div>
        </div>
      </span>
      <span ng-if="member.status === 'suspended'"><strike>
        <div class="item item-divider">
          {{member.firstName}} {{member.lastName}} <span ng-if="member.nickName">({{member.nickName}})</span><span class="item-note">{{member.status}}</span>
        </div>
        <div class="row" ng-if="member.nickName">
          <div class="col col-33">
            Nick Name:
          </div>
          <div class="col">
            {{member.nickName}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Cell Phone:
          </div>
          <div class="col">
            {{member.cellphone | tel}}
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            Email:
          </div>
          <div class="col">
            {{member.email}}
          </div>
        </div>
      </strike></span>
    </div>
  </ion-content>
</ion-view>