<ion-view view-title="Manage Organizations">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <!--<ion-nav-buttons></ion-nav-buttons>-->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-navicon-round button-clear" ng-click="openOptions()">

        </button>
    </ion-nav-buttons> 
    <ion-content>
        <req-mem-requests>
            
        </req-mem-requests>
        <handle-requests>
            
        </handle-requests>
    </ion-content>
</ion-view>