/* Empty. Add your own CSS if you like */

/* ionics padding */
html {
  background: gray;
}
.has-errors {
  border: 1px solid red !important;
}
.button {
  padding: 0 12px !important;
  text-align: center !important;
}
.input-icon {
  box-shadow: none !important;
  top: 3px !important;
  vertical-align: bottom !important;
}
.subheader {
    font-size: 20px !important;
    text-align: center !important;
    color: white;
    margin-bottom: 18px;
}

.bar.bar-calm {
  background-color: #39864c;
  border-color: #39864c;
}
.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
.has-header {
  background-color: #39864c
}
.item-input-inset {
  background-color: #39864c;
  border-color: #39864c;
}
.item-input-inset.search {
  background-color: white;
  border-color: white;
}
ion-content ion-scroll.card.custom-background{
  margin-bottom: 0px !important;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  right: 5px;
  left: 5px;
  bottom: 10px;
}
ion-content div.card.custom-background{
  margin-bottom: 0px !important;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  right: 5px;
  left: 5px;
  bottom: 0px;
}
button.button.button-calm {
  background-color: #184924;
}
button.button.button-calm.activated {
  background-color: #39864c;
}
.button.button-dark {
  background-color: #184924;
}
.button.button-dark.activated {
  background-color: #39864c;
}